/*

Desktop

Große Bilder 280 x 225
Beschriftung 90px hoch

______________________
Mobile Bilder 175 x 135

*/

body
{
	font-family: Arial, Helvetica, sans-serif;
}


.flex{
    display: flex;
    flex-direction: column;
    width: 740px;
    padding: 25px;
}

/*Reihe mit Flexbox-Elementen*/
.flexrow
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*Spalte mit Flexbox-Elementen*/
.flexcol
{
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}
/*Erste Artikelbox*/
.articlebox
{
	display: flex;
	flex-direction: column;
	width: calc(190px * 3 + 9px * 2);
    height: 350px;
}
/**/
.articlebox2
{
    display:flex;
    flex-direction: column;
   	justify-content: space-between;
    width: calc(190px * 3 + 9px * 2);
    height: 480px;
}
/*Seitenleiste für Banner*/
.sidebanner
{
    padding-left: 8px;
}
.sidebannerimg1
{
    height: 350px;
    width: 95px;
}
.sidebannerimg2
{
    height: 480px;
    width: 95px;

}
.middlebanner
{
    display:flex;
    justify-content: center;
    width: 100%;
}
.middlebannerimg
{
    width:640px;
    height:75px;
    margin:15px;
}

/*.flex > *{
min-width: 100px;
min-height: 100px;
}*/

/*Kopfzeile für Bilder*/
#headerimg
{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Kopfzeile für Bilder*/
.flex > header{
background: rgb(102,0,0);

} /*navigation unterer balken in schwarz*/
/*Navigation*/
.nav{
background: rgb(0, 0, 0);
}

.nav li{
float: left;
}

.nav ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.nav a
{
	text-decoration: none;
	color: rgb(255,255,255);
	font-family: Arial, Helvetica, sans-serif;
}
/*Navigation Ende*/

/*Navigation im Footer*/
.footernav a
{
    font-size:smaller;
}

.main
{
	padding-left: 25px;
	padding-right: 25px;
    
	/* re u li padding eingerückt*/
}
.flex #date
{
	text-align: right;
	margin-top: 5px;
	padding-bottom: 0px;
	font-size: 9px;
	color: rgb(86, 101, 115);
}

.flex .articlesheader{
    font-size: larger;
	width: 100%;
	background-color: rgb(229, 231, 233);
	padding-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgb(86, 101, 115);
}

/*Obere Bilder DESKTOP*/
.imgwithtext{
	position: relative;
	text-align: left;
	width: 190px;
	height: 150px;
	padding: 0px;
	font-size: 11px;
}
.textinimage{
	color: white;
	width: 190px;
	height: 55px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
	margin-top: 30px;
}

.textverticalcenter{
	transform: translateY(50%);
}

/*Obere Bilder ENDE*/

.largeimgwithtext{
	position: relative;
	text-align: left;
	width: 280px;
	height: 225px;
	padding: 0px;
	font-size: 11px;
}
.largetextinimage{
    font-size: large;
	color: white;
	width: 280px;
	height: 90px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
	margin-top: 30px;
}

li a {
	display: block;
	padding: 10px;
}

/*Teststuff*/
article{
background: rgba(200, 200, 200, .8);
}
aside{
background: rgba(200, 200, 200, .6);
}
footer{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    width:100%;
    height: 155px;
    margin-top: 60px;
}

.footertext{
	text-align: center;
	color: white;
	font-size:smaller;
}

.footerimgdiv{
    width:100%;
/*	float: right;
	padding-right: 40px*/
}
.footerimg{
	float: right;
	padding-right: 40px;
}


/*Laptop*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	.hidden-mobile{
		display: inline;
	}
}

/*Tablet*/
/*@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
}*/
/*Handy Galaxy*/
@media screen 
  and (max-width: 480px) 
  /*and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2)*/ {
	.hidden-mobile{
		display: none;
	}
    .footerimg{
        display: flex;
        justify-content: center;
    }
    .flex{
        width: 400px;
    }
    /*Mobile Bilder 175 x 135*/
    .sidebannerimg1
       {
        height: 175px;
        width: 135px;
    }
    .sidebannerimg2
       {
        height: 175px;
        width: 135px;
    }
   
    /*.middlebanner
       {
        display:none;
    }*/
    .imgwithtext
       {
        height: 175px;
        width: 135px;
    }
    .articlebox
       {
        width:100%;
        width: calc(135px * 2 + 9px * 2);
        flex-wrap:wrap; 
    }
    .articlebox2
       {
        width:100%;
        flex-wrap:wrap; 
    }
    .flexrow
       {
        flex-wrap:wrap; 
    }
    .textinimage{
        color: white;
        width: 135px;
        height: 55px;
        position: absolute;
        margin-top: 30px;
        font-size: x-small;
    }
    
    .largeimgwithtext
       {
        height: 175px;
        width: 135px;
    }
    /*   .largetextinimage*/
}